.text {

    color: #fff;
    padding: 8px 12px;
    background: rgba(22, 119, 255, .8);
    border-radius: 5px;
    font-size: 14px;
}

.reply {
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(244 246 248 / var(--tw-bg-opacity));
    color: black;

}