.chatLayout {

    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

    .layout-content {
        margin: 0 16px;
        height: 100%;
        flex: 1;
        overflow: hidden;

        &>.message-content {
            box-sizing: border-box;
            padding: 20px;
            margin: 20px 0;
            &::-webkit-scrollbar {
                width: 6px;
                height: 10px;
            }

            &::-webkit-scrollbar-track {
                background: rgb(239, 239, 239);
                border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb {
                background: #dbdbdb;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover{
                background: #a7a6a6;
              }
        }
    }
}