.chat-footer {
    display: flex;
    width: 100%;
    align-items: end;

    &>p {
        width: 60px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
    }

}


.slider-cls {
    padding-top: 30px;

    .slider-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &>.ant-layout-sider-children {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;

        &>:hover {
            color: #4096ff;
            cursor: pointer;
        }
    }

    .slider-btm {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        line-height: 50px;
        height: 50px;
    }

}


.clicked {
    width: 100px;
    text-align: center;

    &_btn {
        width: 80%;

        background-color: rgb(230, 244, 255);

        &>.clicked_edit {
            display: flex;
            justify-content: space-around;
            align-items: center;

            &>span {
                &>span:hover {
                    color: gray;
                    cursor: pointer;
                }
            }
        }
    }

}

textarea {
    overflow-y: scroll;
    -ms-overflow-style: none;
    // scrollbar-width: 0 !important;
    /* IE去除滚动条IE10+ */
    -ms-overflow-style: none;
    /* 火狐 */
    scrollbar-width: none !important;

}